.juliusSansOneXS {
  font: var(--juliusSansOneXS);
}

.juliusSansOneSM {
  font: var(--juliusSansOneSM);
}

.juliusSansOneMD {
  font: var(--juliusSansOneMD);
}

.juliusSansOneLG {
  font: var(--juliusSansOneLG);
}

.juliusSansOneXL {
  font: var(--juliusSansOneXL);
}

.montserratAlternatesSMRegular {
  font: var(--montserratAlternatesSMRegular);
}

.montserratAlternatesMDRegular {
  font: var(--montserratAlternatesMDRegular);
}

.montserratAlternatesLGRegular {
  font: var(--montserratAlternatesLGRegular);
}

.montserratAlternatesSMBold {
  font: var(--montserratAlternatesSMBold);
}

.montserratAlternatesLGBold {
  font: var(--montserratAlternatesLGBold);
}

.blue-200 {
  color: var(--blue-200);
}

.blue-300 {
  color: var(--blue-300);
}
