@font-face {
  font-family: 'Julius Sans One';
  src: url('/fonts/juliusSansOne/JuliusSansOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserratAlternates/MontserratAlternates-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/montserratAlternates/MontserratAlternates-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 700;
}
