:root {
  // COLORS
  --white-100: #fffcf5;

  --blue-100: #cae1ff;
  --blue-200: #5b8dff;
  --blue-300: #231a63;

  // FONTS
  --juliusSansOne: 'Julius Sans One';
  --montserratAlternates: 'Montserrat Alternates';

  --juliusSansOne20px: 20px 'Julius Sans One';
  --juliusSansOne24px: 24px 'Julius Sans One';
  --juliusSansOne32px: 32px 'Julius Sans One';
  --juliusSansOne36px: 36px 'Julius Sans One';
  --juliusSansOne48px: 48px 'Julius Sans One';

  --montserratAlternates13pxRegular: 13px 400 'Montserrat Alternates';
  --montserratAlternates16pxRegular: 16px 400 'Montserrat Alternates';
  --montserratAlternates20pxRegular: 20px 400 'Montserrat Alternates';

  --montserratAlternates16pxBold: 16px 700 'Montserrat Alternates';
  --montserratAlternates20pxBold: 20px 700 'Montserrat Alternates';
}
