:root {
  // COLORS
  --white-100: #fffcf5;

  --blue-100: #cae1ff;
  --blue-200: #5b8dff;
  --blue-300: #231a63;

  // FONTS
  --juliusSansOne: 'Julius Sans One';
  --montserratAlternates: 'Montserrat Alternates';

  --juliusSansOneXS: 20px 'Julius Sans One';
  --juliusSansOneSM: 24px 'Julius Sans One';
  --juliusSansOneMD: 32px 'Julius Sans One';
  --juliusSansOneLG: 36px 'Julius Sans One';
  --juliusSansOneXL: 48px 'Julius Sans One';

  --montserratAlternatesSMRegular: 13px 400 'Montserrat Alternates';
  --montserratAlternatesMDRegular: 16px 400 'Montserrat Alternates';
  --montserratAlternatesLGRegular: 20px 400 'Montserrat Alternates';

  --montserratAlternatesSMBold: 16px 700 'Montserrat Alternates';
  --montserratAlternatesLGBold: 20px 700 'Montserrat Alternates';

  // SHADOW
  --dropShadow: 0px 4px 4px 0px rgba(35, 26, 99, 0.25);
}
